@font-face {
	font-family: 'Poppins';
	src: url('../fonts/poppins/poppins_medium.woff2') format('woff2'),
		url('../fonts/poppins/poppins_medium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/poppins/Poppinsbold.woff2') format('woff2'),
		url('../fonts/poppins/Poppinsbold.woff') format('woff');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/poppins/Poppinsitalic.woff2') format('woff2'),
		url('../fonts/poppins/Poppinsitalic.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: italic;
}
