:root {
	--white-color: #fff;
	--logo-color: #34313D;
	--font-color: #94919A;
	--title-color: #33303B;
	--descr-color: #A2A1A6;
	--button-background-color: #2BD1D1;
	--button-hover-color: #9BE3E2;
	--purple-color: #3A3053;
	--section-background-color: #F0F1F6;
}
