.block-link {
    margin-top: -84px;
    background-color: var(--section-background-color);
}

.block-link_container {
    padding-top: 120px;
    overflow: hidden;
    flex-direction: column;
}

.wrap-block-link_container {
    display: none;
}

.link-block {
    width: 100%;
    margin-bottom: 15px;
    min-height: 73px;
    position: relative;
    justify-content: space-between;
    padding: 0 32px 0 25px;
    background-color: var(--white-color);
    border-radius: 10px;
    align-items: center;
}

.start-link {
    max-width: 320px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 

    color: #29282D;
}

.copy-block {
    align-items: center;
}

.shorten-link {
    color: var(--button-background-color);
    max-width: 320px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.start-link__bottom {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 1px;
    color: var(--section-background-color);
    background-color: var(--section-background-color);
}

.button-copy {
    width: 103px;
    height: 40px;
    margin-left: 24px;
    border: none;
    border-radius: 5px;
    color: var(--white-color);
	font-weight: 700;
	font-size: 16px;
	cursor: pointer;
	background-color: var(--button-background-color);
	transition: 0.2s ease-in;
}

.button-copy:hover {
	background-color: var(--purple-color);
	transition: 0.2s ease-in;
}


@media (max-width: 1100px) {

	.link-block {
        align-items: flex-start;
        flex-direction: column;
        padding: 0 15px;
    }

    .copy-block {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    .button-copy {
        width: 100%;
        height: 40px;
        margin-left: 0;
        margin-bottom: 15px;
    }

    .start-link {
        padding: 15px 0;
    }

    .start-link__bottom {
        display: block;
    }

    .shorten-link {
        padding: 15px 0;
    }


}